img.header-logo {
  height: 2rem;
}

.navbar-nav {
  font-size: 1rem !important;
}

a {
  text-decoration: none !important;
}

div.results-container {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 58.5%;
  height: auto;

  &.countdown.winner {
    position: absolute;
    z-index: 100;
    top: calc(50% - 580px);
    left: 0;
    height: auto;

    &>.countdown {
      width: 100%;
      height: auto;

      margin: 0;
      text-align: center;
      vertical-align: middle;

      h2.num {
        font-size: 300pt !important;
        color: rgb(226, 226, 9);
        text-shadow: 2px 3px 16px rgba(255, 255, 255, 1);
        min-width: 450px;
        text-align: center;
        margin-left: 150px;
      }
    }

    .results-x.active {
      animation: animateGrow 0.8s;
    }
  }

  &.countdown {
    position: absolute;
    z-index: 100;
    top: calc(50% - 490px);
    left: calc(50% - 150px);
    height: auto;

    &>.countdown {
      width: 100%;
      height: auto;

      margin: 0;
      text-align: center;
      vertical-align: middle;

      h2.num {
        font-size: 500pt !important;
        color: rgb(226, 226, 9);
        text-shadow: 2px 3px 16px rgba(255, 255, 255, 1);
        min-width: 450px;
        text-align: center;
        margin-left: 150px;
      }
    }

    .results-x.active {
      animation: animateGrow 0.8s;
    }
  }

  &.center {
    left: 50%;
  }

  .results-x {
    position: absolute;

    width: 400px;
    height: auto;

    top: calc(50% - 100px);
    left: 50%;

    margin: 0;
    margin-left: -200px;
    margin-top: -200px;

    img {
      max-width: 100%;
      display: block;
    }
  }

  .results-x.active {
    animation: animateGrow 0.8s;
  }
}

.confetti-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.confetti {
  position: absolute;
  background: goldenrod;
  //background: url(/assets/images_base/spectrum_logo_4.png) ;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: confetti-fall 80s linear infinite;
}

.clapping {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 5%;
  top: 4%;
  z-index: 2;
}

.golfImg {
  width: 400px;
  height: 500px;
  position: absolute;
  right: 8%;
  top: 4%;
  z-index: 2;

}

#container-id {
  width: 100%;
  height: 100%;
  position: absolute;
}

@keyframes confetti-fall {
  0% {
    transform: translate(0, -50vh);
  }

  25% {
    transform: translatey(2deg);
  }

  100% {
    transform: translate(0, 100vh);
  }
}


#nav {
  /* removed bottom border form nav */
}

.navbar-nav .nav-link.active {
  /* created active class for your li elements */
  border: 2px solid goldenrod;
  border-radius: 15%;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.navbar-nav .btn.active {
  /* created active class for your li elements */
  background: linear-gradient(220deg, rgb(3, 65, 24) 2%, rgb(32, 106, 18) 62%, rgb(4, 86, 55) 98%);
}

.navbar-nav .btn:hover {
  /* created active class for your li elements */
  background: linear-gradient(220deg, rgb(3, 65, 24) 2%, rgb(32, 106, 18) 62%, rgb(4, 86, 55) 98%);
}


.zind {
  z-index: 3;
}