.navbtn.disabled{
    border-color: transparent;
    opacity: 0.3;
}

.indexStyle{
    border-radius:  50%;
    background: rgb(9, 190, 217);
    color: white;
    border: 2px solid white;
    font-weight: 600;
}