<div class="row justify-content-center" style="height:90vh" >    
    <!-- <div class="col-2 h-100" >
        <app-sidenav-inputs></app-sidenav-inputs>
    </div> -->
    <div class="col-11 h-100">
        <div  class="gameBoard h-100 w-100" id="gameBoard" *ngIf="!isLogo; else mysteryTemplate">

            <div class="d-block d-flex flex-column justify-content-center" style="height:82vh">
                <div class="box s-1 my-0 d-flex justify-content-between" id="header-title" *ngIf="isRow;else elseTemplate">
                    <h1 style="width: 200px"></h1>
                        <h1 style="width: 200px">Row: <span class="green">{{record.rowNum}}</span></h1>
                        <h1> </h1>
                </div> 
                <ng-template #elseTemplate>
                    <div class="box s-1 my-0 d-flex justify-content-between" id="header-title">
                        <h1 style="width: 200px">Row: <span class="green">{{record.rowNum}}</span></h1>
                        <h1 class=""> {{ answerVisible ? record.imageTitle: "Your chance to win, Take a Guess!"}} </h1>
                        <h1 [class.red]="time > 90" style="width: 100px">{{display}} </h1>
                        <!-- <h1 [class.orange]="(time > 30 ) && (time <= 60)" [class.red]="time > 60" style="width: 100px">{{display}} </h1> -->
                    </div>
                </ng-template>
                <div class="row mt-4" *ngIf="isRow;else imageTemplate">
                    <div class="col-6 rightPadding d-flex">
                        <img   class="d-block box medium-image w-100" style="height: 60vh;" loading="eager" id="header-picture" [src]="record.imageSrc" />
                    </div>
                    <div class="col-6 leftPadding pl-0">
                        <img   class="d-block box medium-image w-100" style="height: 60vh;" loading="eager" id="header-picture" [src]="record.imageSrc2" />
                    </div>
                </div>
                <ng-template #imageTemplate>
                    <div class="row mt-4">
                        <div class="col-6 rightPadding d-flex">
                            <div class="details d-flex align-items-center px-5">
                                <div>
                                    <!-- <h2>Details:</h2> -->
                                    <ol>
                                        <h2 *ngFor="let value of record.guessList" (click)="mysterReveal(value)"><li> <span *ngIf="value.isEnabled" class="content px-0"> {{value.desc}}</span></li></h2><br/><br/>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 leftPadding pl-0">
                            <img   class="d-block box medium-image w-100" style="height: 60vh;object-fit: center;" loading="eager" id="header-picture" [src]="!!pictureVisible? record.imageSrc : record.imageQuestion" />
                        </div>
                    </div>
                </ng-template>                             
            </div>
            <div class="col">
                <app-footer [navData]="navData"></app-footer>
            </div>

        </div>
        <ng-template #mysteryTemplate>
            <div  class="gameBoard h-100 w-100" id="gameBoard"  (click)="onLogoClick()">

                <div class="d-block d-flex flex-column justify-content-center" style="height:82vh">
                    <div class="gradient-wrap m-0 mt-4 p-0 py-2 w-100">
                        <div class="box s-1 my-0 d-flex justify-content-center" id="header-title">
                            <h1>Mystery</h1>
                        </div>
                    </div>
                </div>  
            </div>
        </ng-template>        
    </div>
</div>