<div class="gradient-wrapping" style="height:90vh">
    <!--Rank-->
    <div class="leaderboard" id="leaderboard">
        <h1 class="gradient-text-header">Winner Board</h1>
        <ul class="px-0 m-0">
            <li [class.not-playing]="!x.playing && x.isWinner" [class.selected]="x.selected && !isRow"
                [class.lost]="x.isLost && !isRow" [class.winner]="x.isWinner && !isRow" (click)="onClick(x.id)"
                *ngFor="let x of finalValues">
                <div class="p-inputgroup myOverride align-items-end">
                    <span class="p-inputgroup-addon align-items-center">{{x.id}}</span>
                    <p-autoComplete [attr.id]="'select'+ x.id" [suggestions]="filteredUsers"
                        (completeMethod)="filterCountry($event)" field="name" [style]="{'width':'100%'}"
                        [disabled]=true></p-autoComplete>
                </div>
            </li>
        </ul>
    </div>
</div>