<div class="gradient-wrapping">
    <!--Rank-->
    <div class="leaderboard" id="leaderboard" style="height: 88vh">
        <h1 class="gradient-text-header">Winner Board</h1>
        <ul class="px-0 m-0">
            <li  [class.selected]="x.selected" (click)="onClick(x.id)" *ngFor="let x of finalValues">
                <div class="p-inputgroup myOverride align-items-end">
                    <span class="p-inputgroup-addon align-items-center">{{x.id}}</span>
                    <p-autoComplete [attr.id]="'select'+ x.id" [suggestions]="filteredUsers" (completeMethod)="filterCountry($event)" field="name" [style]="{'width':'100%'}" [disabled] = true></p-autoComplete>
                  </div>
            </li>
        </ul>
    </div>
</div>