<div class="row" *ngIf="!isLogo; else elseTemplate">
  <div class="col-12 mb-3">
    <app-header></app-header>
  </div>
  <div class="col-12 mt-5 h-90">
    <router-outlet ></router-outlet>
  </div>
</div>
<ng-template #elseTemplate>
  <!-- <div class="splash" id="splash">
    <img src="assets/images/Spectrum_Logo_RGB.png" alt="logo" class="splash family">
</div> -->
  <div class="row splash" id="splash" (click)="onSplash()">
    <img src="/assets/images_base/Spectrum_Logo_RGB.png" class="splash"/>
  </div>
</ng-template>
