<div class="row" style="height:90vh">
    <div class="col-2 h-100" >
        <app-sidenav-selects></app-sidenav-selects>
    </div>
    <div class="col-10 h-100">
        <div class="gameBoard h-100 w-100" id="gameBoard" *ngIf="!isLogo; else shoppingTemplate">
            <div class="d-block d-flex flex-column justify-content-center" style="height:82vh">
                <div class="darker-box-shopping">
                    <div class="row row-cols-5">
                        <div class="col" *ngFor="let alternative of shoppingItem.alternatives;  index as i" (click)="onClick(i)">
                            <img class="shopping-image" [class.correct]="alternative.isWinner" [class.selected]="alternative.isSelected" [class.wrong]="alternative.isWrong"  loading="eager" style="height:270px; width:300px;"
                                [src]="alternative.imageSrc" />
                        </div>
                    </div>
                </div>
                <h1 class="box large">
                    {{shoppingItem.answerDisplay}}
                </h1>
            </div>
            <div class="col">
                <app-footer [navData] = "navData"></app-footer>
            </div>
        </div>
        <ng-template #shoppingTemplate>
            <div  class="gameBoard h-100 w-100" id="gameBoard"  (click)="onLogoClick()">

                <div class="d-block d-flex flex-column justify-content-center" style="height:82vh">
                    <div class="gradient-wrap m-0 mt-4 p-0 py-2 w-100">
                        <div class="box s-1 my-0 d-flex justify-content-center" id="header-title">
                            <h1>Shopping List</h1>
                        </div>
                    </div>
                </div>  
            </div>
        </ng-template>        
    </div>
</div>