<div class="row" style="height:88vh">
    <div class="col-2 h-100" >
        <app-sidenav-selects></app-sidenav-selects>
    </div>
    <div class="col-10 h-100">
        <div class="gameBoard h-100 w-100" id="gameBoard">
            <div class="d-block d-flex flex-column justify-content-center h-100">
                <div class="box s-1 my-0 d-flex justify-content-between" id="header-title">
                    <h1 style="width: 200px"></h1>
                    <h1 class=""  >{{record.imageTitle}} </h1>
                    <h1 [class.orange]="(time > 25 ) && (time <= 30)" [class.red]="time > 30" style="width: 100px">{{display}} </h1>
                </div>                  

                <div class="row mt-4">
                    <div class="col-6 rightPadding d-flex">
                        <div class="details d-flex align-items-center justify-content-center">
                            <div>
                                <h2>Details:</h2>
                                <p>{{record.desc}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 leftPadding pl-0">
                        <img   class="d-block box medium-image w-100" style="height: 37vh;" loading="eager" id="header-picture" [src]="record.imageSrc" />
                    </div>
                </div>
                <!-- <h1 class="box s-1 my-0" id="range-title">{{ record.imageTitle }}</h1>

                <img class="d-block box medium-image mt-4" id="range-image" loading="eager"
                    [src]="record.imageSrc" height="400px" /> -->

                <div class="box clue-zone s-1 p-0 pb-1 m-0 border-top-0 visible highlight" style="height: 62px;">
                    <!-- ko if: answerVisible-->
                    <h1 class="box s-1 highlight" [class.invisible]="!answerVisible" [@blink]="answerVisible">{{record.answerDisplay}}</h1>
                </div>

                <!-- <div class="darker-box custom-slider  mt-4 p-5" >
                    <ngx-slider [(value)]="record.initValue" [options]="options"></ngx-slider>
                </div> -->
                <div class="darker-box-range slider-container px-5 mt-5" style="height: 100px;">
                    <mat-slider [min]="record.minValue"  [max]="record.maxValue"  discrete [displayWith]="formatLabel" style="width: 100%;">
                        <input matSliderThumb name="fieldName" [(ngModel)]="record.initValue">
                    </mat-slider>
                    <div class="slider-values justify-content-between" >
                        <span class="min-value">{{record.minValue | currency:'USD': 'symbol' : '1.0-0'}}</span>
                        <span class="max-value right">{{record.maxValue | currency:'USD': 'symbol' : '1.0-0' }}</span>
                    </div>
                </div>
                

                <div class="slider-values mt-5 justify-content-center">
                    <h2 class="box input selected" style="width: 200px;">
                        <p-inputNumber [inputStyle]="{'text-align': 'center'}"  class="bidding-input selected" [(ngModel)]="record.initValue" mode="currency" [minFractionDigits]="0" inputId="'currency'+ number" currency="USD" locale="en-US"> </p-inputNumber>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <app-footer></app-footer>
        </div>
    </div>
</div>