<div class="row" style="height:90vh">
    <div class="col-2 h-100">
        <app-sidenav-selects></app-sidenav-selects>
    </div>
    <div class="col-10 h-100">
        <div class="gameBoard h-100 w-100" id="gameBoard" *ngIf="!isLogo; else rangeTemplate">
            <div class="d-block d-flex flex-column justify-content-center" style="height: 82vh">
                <div class="box s-1 my-0 d-flex justify-content-around" id="header-title"
                    *ngIf="isRow;else elseTemplate">
                    <h1></h1>
                    <h1>Round: <span class="green">{{record.round}}</span></h1>
                    <h1> </h1>
                </div>
                <ng-template #elseTemplate>
                    <div class="box s-1 my-0 d-flex justify-content-between" id="header-title">
                        <h1 style="width: 200px"></h1>
                        <h1 class="">{{record.imageTitle}} </h1>
                        <h1 [class.red]="time > 90" style="width: 100px">{{display}} </h1>
                    </div>
                </ng-template>

                <div class="row mt-4" *ngIf="isRow;else imageTemplate">
                    <div class="col-6 rightPadding d-flex">
                        <img class="d-block box medium-image w-100" style="height: 60vh;" loading="eager"
                            id="header-picture" [src]="record.imageSrc" />
                    </div>
                    <div class="col-6 leftPadding pl-0">
                        <div class="box h-100" style="padding-top: 160px;">
                            <h2 *ngFor="let value of currentParticipants">
                                <span class="p-inputgroup-addon align-items-center">{{value.val}}</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <ng-template #imageTemplate>
                    <div class="row mt-4">
                        <div class="col-6 rightPadding d-flex">
                            <div class="details d-flex align-items-center justify-content-center">
                                <div class="content">
                                    <p class="description">{{record.desc}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 leftPadding pl-0">
                            <img class="d-block box medium-image w-100" style="height: 37vh;" loading="eager"
                                id="header-picture" [src]="record.imageSrc" />
                        </div>
                    </div>

                    <div class="box clue-zone s-1 p-0 pb-1 m-0 border-top-0 visible highlight" style="height: 62px;">
                        
                        <h1 class="box s-1 highlight" [class.invisible]="!answerVisible" [@blink]="answerVisible">
                            {{record.answerDisplay}}</h1>
                    </div>

                    <div class="darker-box-range slider-container px-5 mt-5" style="height: 100px;">

                        <mat-slider [min]="record.minValue" [max]="record.maxValue" discrete [displayWith]="formatLabel"
                            style="width: 100%;" (input)="onInputChange($event)">
                            <input matSliderStartThumb [(ngModel)]="record.n1" />
                            <input matSliderEndThumb [(ngModel)]="record.n2" />
                        </mat-slider>

                        <div class="slider-values justify-content-between">
                            <span class="min-value">{{record.minValue | currency:'USD': 'symbol' : '1.0-0'}}</span>
                            <span class="max-value right">{{record.maxValue | currency:'USD': 'symbol' : '1.0-0'
                                }}</span>
                        </div>
                    </div>

                    <div class="slider-values mt-5 justify-content-center">

                        <h2 class="box input selected" style="width: 200px;" [class.winner]="answerVisible">

                            <p-inputNumber [inputStyle]="{'text-align': 'center'}" class="bidding-input selected"
                                [(ngModel)]="record.initValue" mode="currency" [minFractionDigits]="0"
                                inputId="'currency'+ number" currency="USD" locale="en-US"> </p-inputNumber>
                        </h2>
                    </div>
                </ng-template>


            </div>
            <div class="col ">
                <app-footer [navData]="navData"></app-footer>
            </div>
        </div>
        <ng-template #rangeTemplate>
            <div class="gameBoard h-100 w-100" id="gameBoard" (click)="onLogoClick()">
                <div class="d-block d-flex flex-column justify-content-center" style="height:82vh">
                    <div class="gradient-wrap m-0 mt-4 p-0 py-2 w-100">
                        <div class="box no-border no-background s-1 my-0 d-flex flex-column justify-content-center"
                            id="header-title">
                            <img src="/assets/images_base/cover/range.png" class="splash cover" />
                            <h1 class="bigger">Range</h1>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>